<div >
    <br>
    <button class="btn btn-danger" ng-if="main.loginStatus" ng-hide="main.subscriptionsArray.length" ng-click="main.showMySubscription()"> SHOW MY SUB </button> 
    <div class="row" ng-repeat="channel in main.subscriptionsArray">
        <div class="btnz btnz4" ng-class="{selected: main.currentChannelId==main.subscriptionsArray[$index].title}" ng-click="main.showChannelVideos(channel)"> 
       <td> <img height="45" width="45" ng-src="{{main.subscriptionsArray[$index].thumbnails.default.url}}" 
       > {{main.subscriptionsArray[$index].title}}
        </td> </div>
        <br>
    </div>
    <div ng-repeat="channelVideos in main.channelVideosArray">
        <img ng-src="{{main.trustTitle(channelVideos.thumbnails)}}" ng-click="main.playClickedVideo(channelVideos)">
    </div>

</div>


