<div class="container-fluid">
  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>
      
  <div class="row">
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-12">
        <input-directive></input-directive>
        </div>
        <div class="col-md-12">
        <login-directive></login-directive>
        </div>
        <div class="col-md-12">
        <subscriptions-directive></subscriptions-directive>
        </div>
      </div>
    </div>
  
    <div class="col-md-9" >
      <div class="row">
        <div class="col-md-12" >
          <youtube-player-container></youtube-player-container>
        </div>
      </div>

      <div class="row jumbotron">
        <div class="col-md-4" 
            
            ng-repeat="video in main.responseArray">
          <div ng-class="{selectedVideo: main.yt.videoid == video.contentDetails.videoId}" class="vid-container">
            <div class="thumb">
                <img ng-click="main.playClickedVideo(video)" ng-src="{{main.trustTitle(video.snippet.thumbnails.medium.url)}}">
            </div>
            <div   class="desc">
              {{main.trustTitle(video.snippet.title)}}

            </div>
          </div> {{video.contentDetails.videoId}}
          {{video.id.videoId}}
        </div>
      </div>
    </div>
  </div>
</div>
      



