<div class="container-fluid">

  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
    <input-directive></input-directive>
  </div>
  

  something
  
  <div class="row">
    <div class="col-xs-3"> 
        Subscriptions should be here 

    </div>
    <div class="col-xs-6">
           <iframe ng-show="main.zmiennangshow" id="vid_frame" width="640" height="385" ng-src="{{main.videoIdToPlayOnFrame}}"></iframe>
    </div>
    <div class="col-xs-3">
      <div class="vid-container" ng-repeat="video in main.responseArray">
      <!-- <iframe id="vid_frame" width="640" height="385" ng-src="{{main.trustSrc(video.id.videoId)}}"></iframe> -->

      <div class="thumb">
        <img ng-click="main.playClickedVideo(video)" ng-src="{{main.trustTitle(video.snippet.thumbnails.medium.url)}}">
      </div>
      <div class="desc">
          {{main.trustTitle(video.snippet.title)}}
      </div>
  </div>
    </div>
  </div> 
  <div class="row">
    <div class="col-sm-6 col-md-4" ng-repeat="awesomeThing in main.awesomeThings | orderBy:'rank'">
      <div class="thumbnail">
        <img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}">
        <div class="caption">
          <h3>{{ awesomeThing.title }}</h3>
          <p>{{ awesomeThing.description }}</p>
          <p><a ng-href="{{awesomeThing.url}}">{{ awesomeThing.url }}</a></p>
        </div>
      </div>
    </div>
  </div>

</div>
